.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 6.25rem);
  padding: 1.25rem;
  background-color: $color-milk;
}

.main-content__title {
  font-size: 1.5rem;
  font-family: $font-main-regular;
  color: $color-blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
