// colors
$color-blue: #3158b3;
$color-white: #ffffff;
$color-milk: #f8f8fa;
$color-grey: #e1e2e6;
$color-red: #ff0000;
$color-grey-dark: #a6a9ae;
$color-grey-dark-2: #3c3d47;
$color-blue-dark: #003086;
$color-black: #2a3039;

// main fonts
$font-main-regular: "Roboto-Regular", Arial, sans-serif;
$font-main-medium: "Roboto-Medium", Arial, sans-serif;
